* {padding: 0px; margin: 0px; border: 0px}

div.clear {clear: both;}

body {background-image: url(../images/bg.gif);}

* {box-sizing: border-box;}

#nav{
	height: 100px;
	
}

.row::after {
	content: ""; 
	clear: both; 
	display: table;
}
	
[class*="col-"] {float: left; padding: 15px;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-9 {
	padding-top: 20px;
	background: #000;
	float: left;	
}
.col-9 ul li{
	margin: 15px;
	font-size: 20px;
	float: left;
	list-style: none;
}
.col-9 ul li a{
	text-decoration: none;
	color: #fff;
}

.col-3 {
	background: #000;
	padding-top: 50px;
	float: left;
}

.container{	
    margin: 85px 100px 0px 100px;
    padding: 10px;
    background: #f0f0f0;
	border: 1px solid #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
	box-shadow: 5px 5px #898989;
	float: left;
}

p {text-align: justify;}